{{ define "content" }}
<div class="about-content">
    <h1>About</h1>

    <p>Made with <a href="https://go.dev/">Go</a>, <a href="https://htmx.org/">HTMX</a>
and <a href="https://alpinejs.dev/">Alpine.js</a>. Because the web was designed for 
hypermedia and <a href="https://en.wikipedia.org/wiki/HATEOAS">HATEOAS</a> is cool.

<p>Hosted on a VPS.
Automatic TLS certificate renewal through <a href="https://caddyserver.com/">Caddy Server</a> and <a href="https://letsencrypt.org/">Let's Encrypt</a>.</p>

<h2>Contact</h2>
<p>Email: <a href="mailto:lodobo@s5e.ovh" target="_blank">lodobo@s5e.ovh</a> (<a href="">PGP key</a>)</p>
</div>
{{ end }}